
<div class="card" data-ng-controller="FlashCtrl">
	<div class="item item-divider">

	</div>
	<div class="item3 item-text-wrap fuente">
        <div class="col-xs-10 col-xs-offset-1" style="margin-top:10px;">

        <div class="flexslider-vid"  >
            <div class="flex-viewport" style="overflow: hidden; position: relative;" id="flex">

                <ul class="slides" id="slides" data-ng-if="onFlashView">
                    <li
                    data-dir-paginate="item in gallery | itemsPerPage: 1"
                    data-pagination-id="same"
                    class="clone"
                    style="width: 804px; float: left; display: block; "
                    data-ng-class="animation">
                           <object type="application/x-shockwave-flash" class="partida" data="{{item.src}}" >

                           </object>

                        <p class="ajustado4">
                            <em class="izquierda">{{item.title}}</em>
                        </p>

                    </li>
                    
                </ul>
                <dir-pagination-controls
                            direction-links="true"
                            template-url="templates/dirPagination.tpl.html"
                            data-pagination-id="same"
                           >
                    </dir-pagination-controls>
          
                </div>
        </div>
            </div>


    </div>
        </div>


</div>

